.btn-group
	button.btn.btn-secondary.dropdown-toggle.waves-effect.waves-light(type='button', data-toggle='dropdown', aria-expanded='false')
		strong Профиль 
		span.caret
	.dropdown-menu(x-placement='bottom-start', style='position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;')
		a.dropdown-item(href='#') Настройки
		a.dropdown-item(href='#') Выйти
