
form#filterLog(name='filterLog', action='/admin/logs', method='post')
	.row.mb-2
		.col-3(style="border: solid 1px #DCDCDC;")
			.form-group
				label.form-label Имя пользователя:
				select#filter_username.custom-select.form-control(type='text', name='filter_username')
					option(selected value='') Выберите пользователя
					option(value = 'undefined') undefined
					each val in res
						option(value = val.username,
						label = val.post_short)
							=val.post_short
		.col-3(style="border: solid 1px #DCDCDC;")
			.form-group
				label.form-label Тип сообщения:
				select#filter_type_msg.custom-select.form-control(type='text', name='filter_type_msg')
					option(selected value='') Выберите тип
					option(value = 'INFO') INFO
					option(value = 'WARNING') WARNING
					option(value = 'ERROR') ERROR
		.col-3(style="border: solid 1px #DCDCDC;")
			.form-group
				label.form-label Период:
				select#filter_time_msg.custom-select.form-control(type='text', name='filter_time_msg')
					option(selected value='') Период
					option(value = '1') За 10 минут
					option(value = '2') За час
					option(value = '3') За 3 часа
					option(value = '4') За сутки
		.col-3
			.form-group.pt-4
				button.logs.btn.btn-primary.btn-custom.w-md.waves-effect.waves-light(type='button') Показать

table.table.table-bordered.noe-table.col-12
	thead.thead-default
		tr
			th Время
			th Тип сообщения
			th Имя пользователя
			th Номер сообщения
			th Текст сообщения
			th Тело ошибки
	tbody
		each val, index in logs
			tr
				//Время
				td.text-center.front_date_time(style="word-wrap:break-word;")
					= val.time_msg
				//Тип сообщения
				td.text-center
					= val.type_msg
					
				//Имя пользователя
				td.text-center
					= val.user_msg
				//Номер сообщения
				td.text-center
					= val.num_msg
				//Текст сообщения
				td.text-center
					= val.text_msg
				//Текст сообщения
				td.text-center
					= val.err_obj_msg

script(type='text/javascript').

	//после того как всё загрузилось заменяем миллисекунды на даты
	//делаю на нативном JavaScript в надежде побыстрее преобразовывать даты, нежели это было-бы на jQuery

	var dates = document.getElementsByClassName('front_date_time');
	for (var i=0; i<dates.length; i++){
		//получаем дату ISO из миллискунд, которые мы получили
		var new_front_date_iso = new Date(Number(dates[i].innerText));

		//получаем номер дня в месяце, если это одна цифра то добавляем вперёд "0" "для красоты"
		//если день состоит из одной цифры, то оставляем его в покое
		var new_day = new_front_date_iso.getDate();
		if (new_day < 10) new_day = '0' + new_day;

		//тоже самое, что и для дня,  делаем и для месяца
		var new_month = new_front_date_iso.getMonth()+1;
		if (new_month < 10) new_month = '0' + new_month;
		
		var new_hour = new_front_date_iso.getHours();
		if (new_hour < 10) new_hour = '0' + new_hour;
		
		var new_minutes = new_front_date_iso.getMinutes();
		if (new_minutes < 10) new_minutes = '0' + new_minutes;

		var new_seconds = new_front_date_iso.getSeconds();
		if (new_seconds < 10) new_seconds = '0' + new_seconds;
		
		// формируем строку формата "ДД.ММ.ГГГГ"
		var new_date = new_day + '.' + new_month + '.' + new_front_date_iso.getFullYear() + ' ' + new_hour +':' + new_minutes + ':' + new_seconds;

		//заменяем строку с датой в таблице
		dates[i].innerText=new_date;
	}