mixin mixin_li_add_doc
	li
		a.waves-effect.waves-primary.control_href(href='2')
			i.ti-save
			span  Добавить документ

mixin mixin_li_all_doc
	li
		a.waves-effect.waves-primary.control_href(href='3')
			i.ti-server
			span Все документы

mixin mixin_li_ispoln
	li.has_sub
		a.waves-effect.waves-primary(href='javascript:void(0);')
			i.ti-files
			span  Исполнение 
			span.menu-arrow
		ul.list-unstyled
			li
				a.control_href(href='6') Новые
					//тсли количество новых документовв больше нуля, то показываем мадж с количеством
					if(len_new_docs_ispoln > 0)
						span.badge.badge-pink.pull-right 
							= len_new_docs_ispoln
			li
				a.control_href(href='4') Все

			li
				a(href='ui-cards.html') Не отработанные
			li
				a(href='ui-portlets.html') Просроченные
			li
				a(href='ui-checkbox-radio.html') Истекают сегодня
			li
				a(href='ui-tabs.html') Истекают завтра

mixin mixin_li_kontrol
	li.has_sub
		a.waves-effect.waves-primary(href='javascript:void(0);')
			i.ti-eye
			span  Контроль 
			span.menu-arrow
		ul.list-unstyled
			li
				a.control_href(href='7') Новые
					//если количество новых документовв больше нуля, то показываем мадж с количеством
					if(len_new_docs_kontrols > 0)
						span.badge.badge-pink.pull-right 
							= len_new_docs_kontrols
			li
				a.control_href(href='5') Все
			li
				a(href='ui-cards.html') Не отработанные
			li
				a(href='ui-portlets.html') Просроченные
			li
				a(href='ui-checkbox-radio.html') Истекают сегодня
			li
				a(href='ui-tabs.html') Истекают завтра

mixin mixin_li_archive
	li
		a.waves-effect.waves-primary(href='typography.html')
			i.ti-archive
			span  Архив 
			
// ========== Left Sidebar Start ==========
.left.side-menu
	.sidebar-inner.slimscrollleft
		// - Divider
		#sidebar-menu
			ul
				li
					a.waves-effect.waves-primary(href='/')
						i.ti-home
						span  На главную
				
				if (isModerator)
					+ mixin_li_add_doc
					
				- if (isModerator || isAdministrator)
					+ mixin_li_all_doc
					
				- if(!isAdministrator && !isModerator && username)
					+ mixin_li_ispoln

				- if(!isAdministrator && !isModerator && username)
					+ mixin_li_kontrol

				- if (isModerator || isAdministrator)
					+ mixin_li_archive

														
			.clearfix
		.clearfix
			// Left Sidebar End