//====================================================
//основное окно
//=====================================================
.content-page
	// Start content
	.content
		.container-fluid
			.row#main_content.col-10
			
			
				#accordion.m-b-20(role='tablist', aria-multiselectable='true')
					.card
						#headingOne.card-header(role='tab')
							h5.mb-0.mt-0.font-16
								a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
									| Таблица тестовых имён пользователей
						#collapseOne.collapse(role='tabpanel', aria-labelledby='headingOne', style='')
							.card-body
								table.table.table-bordered
									thead
										tr
											th UserName
											th Наименование должности
											th Аббревиатура должности
									tbody
										tr
											td admin
											td Администратор
											td Админ
										tr
											td moder
											td Модератор
											td модер

										tr
											td N-A
											td Начальник академии
											td НА

										tr
											td ZNA
											td Заместитель начальника академии
											td ЗНА

										tr
											td ZNA-UNR
											td Заместитель начальника академии по учебной и научной работе
											td ЗНА-УНР

										tr
											td ZNA-RLS
											td Заместитель начальника академии по работе с личным составом
											td ЗНА-РЛС

										tr
											td NF-1
											td Начальник 1 факультета
											td НФ-1

										tr
											td NF-2
											td Начальник 2 факультета
											td НФ-2

										tr
											td NF-3
											td Начальник 3 факультета
											td НФ-3

										tr
											td OAK-101
											td Начальник 101 кафедры
											td НОАК-101

										tr
											td OAK-102
											td Начальник 102 кафедры
											td НОАК-102

										tr
											td OAK-103
											td Начальник 103 кафедры
											td НОАК-103


										tr
											td NUMO
											td Начальник учебно-методического отдела
											td НУМО

										tr
											td NONR
											td Начальник отдела (организации научной работы и подготовки научно-педагогических кадров)	
											td НОНР								
					
					
					.card
						#headingTwo.card-header(role='tab')
							h5.mb-0.mt-0.font-16
								a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
									| Использованное программное обеспечение
						#collapseTwo.collapse(role='tabpanel', aria-labelledby='headingTwo', style='')
							.card-body
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

				table#datatable.table.table-bordered(style="font-size: 0.8rem;")
					thead
						tr
							th Name
							th Position
							th Office
							th Age
							th Start date
							th Salary
					tbody
						tr
							td Tiger Nixon
							td System Architect
							td Edinburgh
							td 61
							td 2011/04/25
							td $320,800
						tr
							td Garrett Winters
							td Accountant
							td Tokyo
							td 63
							td 2011/07/25
							td $170,750
						tr
							td Ashton Cox
							td Junior Technical Author
							td San Francisco
							td 66
							td 2009/01/12
							td $86,000


				
				
				
				
				
				//form#uploadForm(name='uploadForm', method='post', action='/upload_doc', enctype='multipart/form-data')
					h4.m-t-0.header-title Форма ввода документа 
					.row
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Файл для загрузки:
								input.form-control#file_doc(type='file', name='file_doc')
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Тип документа:
								select.m-b-5#type_doc.custom-select.form-control(type='text', name='type_doc')
									option(selected='') Выберите тип
									each val, index in docs
										option(value=index,
											label=val)

					.row
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Номер документа:
								input#num_doc.form-control(type='text', placeholder='Номер', name='num_doc')
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Дата документа:
								input#date_doc.form-control(type='date', name='date_doc')


					.row
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Кто утвердил:
								select#ruc_doc.custom-select.form-control(type='text', name='ruc_doc')
									option(selected='') Руководитель
									each val in DL12
										option(value = val.username,
										label = val.post_short)
						.col-6(style="border: solid 1px #DCDCDC;")
							.form-group
								label.form-label Краткое описание:
								input#about_doc.form-control(type='text', placeholder='Описание', name='about_doc')

					.row#div_punkts
						input#punkts_count.form-control(type='hidden', value=0, name='punkts_count')
						#accordion.m-b-20(role='tablist', aria-multiselectable='true')
							.card.m-t-5#card_0
								#headingOne_0.card-header(role='tab')
									h5.mb-0.mt-0.font-16
										a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseOne_0', aria-expanded='false', aria-controls='collapseOne_0')
											| Настройте пункты документа  
										//a.close_card(href='0', type='hidden')
											i.ti-close
								#collapseOne_0.collapse(role='tabpanel', aria-labelledby='headingOne_0', style='')
									.card-body
										.row
											.div.col-6(style="border: solid 1px #DCDCDC;")
												.form-group
													label.form-label Номер пункта:
													input#num_punkt_0.form-control(type='text', placeholder='Пункт', name='num_punkt_0')
											.div.col-6(style="border: solid 1px #DCDCDC;")
												.form-group
													label.form-label Дата исполнения:							
													input#date_punkt_0.form-control(type='date', name='date_punkt_0')
										.row
											.div.col-6(style="border: solid 1px #DCDCDC;")
												.form-group
													label.form-label Исполнители:
													select#ispolniteli_0.multi-select(multiple='multiple', name='ispolniteli_0', data-plugin='multiselect')
														each val in DLall
															option(value=val.username)!= val.post_short
											.div.col-6(style="border: solid 1px #DCDCDC;")
												.form-group
													label.form-label Контролирующие:
													select#controllers_0.multi-select(multiple='multiple', name='controllers_0', data-plugin='multiselect')
														each val in DLall
															option(value=val.username)!= val.post_short


					.row
						.col-3
							button#add-punkt.btn.btn-warning.w-md.waves-effect.waves-light(type='button') + ПУНКТ
						.col-3
							button#upload_doc.btn.btn-primary.w-md.waves-effect.waves-light(type='submit') Загрузить на сервер
					.row#add_doc_message.text-danger
