//-------------------------------Модальное окно входа		
.container-fluid
	#ModalEnter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog.col-12
			.modal-content
				.modal-header
					h4#myModalLabel.modal-title Авторизация
				.modal-body.col-12
					//.text-center
						a.logo-lg(href='index.html')
							i.mdi.mdi-radio
							span АСКИД
					form.form-horizontal.m-t-20(id='form_auth', name='form_auth', action='/auth', method='post')
						input(type='hidden', name='_csrf', value=csrfToken)
						.form-group.row
							.col-12
								.input-group
									span.input-group-addon
										i.mdi.mdi-account
									input.form-control(type='text', required='', placeholder='Имя пользователя', id='username', name='username')
						.form-group.row
							.col-12
								.input-group
									span.input-group-addon
										i.mdi.mdi-key
									input.form-control(type='password', required='', placeholder='Пароль', id='password', name='password')
						.form-group.row.col-12.m-0.p-0
							.col-6.m-t-10
								a.text-muted#href_remember_pass(href='')
									i.fa.fa-lock.m-r-5
									|  Забыли пароль?
							.col-6.m-0.p-0.text-right
								button#auth_ok_but.btn.btn-primary.btn-custom.w-md.waves-effect.waves-light(type='button') Войти
						//.form-group.row.col-12.m-0.p-0.m-t-15
							.col-6
								a.text-muted(href='pages-recoverpw.html')
									i.fa.fa-lock.m-r-5
									|  Забыли пароль?
						#reg_message_auth.text-danger
							
							//.col-6.text-right.m-0.p-0
								a.text-muted(href='pages-register.html') Регистрация