//-------------------------------Модальное окно входа		
.container-fluid
	#ModalEnter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog.col-12
			.modal-content
				.modal-header
					h4#myModalLabel.modal-title Авторизация
				.modal-body.col-12
					//.text-center
						a.logo-lg(href='index.html')
							i.mdi.mdi-radio
							span АСКИД
					form.form-horizontal.m-t-20(id='form_auth', name='form_auth', action='/auth', method='post')
						input(type='hidden', name='_csrf', value=csrfToken)
						.form-group.row
							.col-12
								.input-group
									span.input-group-addon
										i.mdi.mdi-account
									input.form-control(type='text', required='', placeholder='Имя пользователя', id='username', name='username')
						.form-group.row
							.col-12
								.input-group
									span.input-group-addon
										i.mdi.mdi-key
									input.form-control(type='password', required='', placeholder='Пароль', id='password', name='password')
						.form-group.row.col-12.m-0.p-0
							.col-6.m-t-10
								a.text-muted#href_remember_pass(href='')
									i.fa.fa-lock.m-r-5
									|  Забыли пароль?
							.col-6.m-0.p-0.text-right
								button#auth_ok_but.btn.btn-primary.btn-custom.w-md.waves-effect.waves-light(type='button') Войти
						//.form-group.row.col-12.m-0.p-0.m-t-15
							.col-6
								a.text-muted(href='pages-recoverpw.html')
									i.fa.fa-lock.m-r-5
									|  Забыли пароль?
						#reg_message_auth.text-danger
							
//-------------------------------Модальное окно для отписывания документов
.container-fluid
	#ModalTransfer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabelTransfer', aria-hidden='true')
		.modal-dialog.col-12
			.modal-content
				.modal-header
					h4#myModalLabelTransfer.modal-title Отписать документ
					//- if(inferiors)
						each val in inferiors
							!= val
				.modal-body.col-12

					form.form-horizontal.m-t-20(id='form_transfer', name='form_transfer', action='/control/transfer_doc', method='post')
						.form-group.row.text-center
							.col-6
								input(type='hidden' id='transfer_doc_id', name='transfer_doc_id', value='')
								if(inferiors)
									select.multi-select(multiple='multiple', name='transfer', data-plugin='multiselect', id='transfer')
										each val in inferiors
											option(value=val)!= all_users_short[val]
								else
									| У Вас нет подчинённых, указанных в системе
						.form-group.row
							.col-6.m-0.p-0.text-right
								button#transfer_ok_but.btn.btn-primary.btn-custom.w-md.waves-effect.waves-light(type='button') Отписать
				#message_transfer.text-danger